
#ChartistCSSAnimation .ct-series.ct-series-a .ct-line {
    fill: none;
    stroke-width: 4px;
    stroke-dasharray: 5px;
    -webkit-animation: dashoffset 1s linear infinite;
    -moz-animation: dashoffset 1s linear infinite;
    animation: dashoffset 1s linear infinite;
}

#ChartistCSSAnimation .ct-series.ct-series-b .ct-point {
    -webkit-animation: bouncing-stroke 0.5s ease infinite;
    -moz-animation: bouncing-stroke 0.5s ease infinite;
    animation: bouncing-stroke 0.5s ease infinite;
}

#ChartistCSSAnimation .ct-series.ct-series-b .ct-line {
    fill: none;
    stroke-width: 3px;
}

#ChartistCSSAnimation .ct-series.ct-series-c .ct-point {
    -webkit-animation: exploding-stroke 1s ease-out infinite;
    -moz-animation: exploding-stroke 1s ease-out infinite;
    animation: exploding-stroke 1s ease-out infinite;
}

#ChartistCSSAnimation .ct-series.ct-series-c .ct-line {
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 40px 3px;
}

@-webkit-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0px;
    }

    100% {
        stroke-dashoffset: -20px;
    };
}

@-moz-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0px;
    }

    100% {
        stroke-dashoffset: -20px;
    };
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0px;
    }

    100% {
        stroke-dashoffset: -20px;
    };
}

@-webkit-keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }

    50% {
        stroke-width: 10px;
    }

    100% {
        stroke-width: 5px;
    };
}

@-moz-keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }

    50% {
        stroke-width: 10px;
    }

    100% {
        stroke-width: 5px;
    };
}

@keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }

    50% {
        stroke-width: 10px;
    }

    100% {
        stroke-width: 5px;
    };
}

@-webkit-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }

    100% {
        stroke-width: 20px;
        opacity: 0;
    };
}

@-moz-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }

    100% {
        stroke-width: 20px;
        opacity: 0;
    };
}

@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }

    100% {
        stroke-width: 20px;
        opacity: 0;
    };
}
